.mainContainer {
    padding: 0 110px 0 101px;
}
.btnContainer {
    display: flex;
    gap: 24px;
}
.btn {
    width: 300px;
    height: 64px;
    font-size: 32px;
    font-weight: 400;
    background: #ffffff;
    color: #000000;
 }

 .bookingBtn {
    width: 300px;
    height: 64px;
    font-size: 32px;
    font-weight: 400;
    border: 1px solid #ffffff;
 }