.inputSection {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.inputContainer {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 20px;
}
.inputSection label {
   align-self: flex-start;
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
}
.input {
   width: 818px;
   height: 66px;
   color: #FFFFFF;
   font-size: 24px;
}
.inputBio {
   width: 818px;
   color: #FFFFFF;
   font-size: 24px;
}

.uploadBtn {
  border: 1px solid #ffffff;
  align-self: center;
  background: #000000;
}

.upload {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 28px;
}

.upload div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}