.events {
  display: flex;
  flex-direction: column;
  padding: 0 49px 63px 101px;
}

.row {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
}

.box {
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}